.code-container {
  background-color: rgb(30, 30, 30);
  user-select: text;
}

.code-header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

pre span {
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  pre span {
    font-size: 12px !important;
  }
}
