.code-header-container {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 900px;
  z-index: 100;
  background-color: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.code-header-sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tab span {
  font-size: 16px;
}

.code-select {
  background-color: rgb(63, 63, 70);
}

@media only screen and (max-width: 700px) {
  .code-header-tab span {
    font-size: 13px !important;
  }
}
