@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  flex: 1 1 100%;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

header div {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 95%;
  height: 80px;
  /* border: 0.5px solid rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 15px;
  z-index: 1;
}

header span {
  color: #d2c;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #d2c, hsl(336, 100%, 67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-wrapper {
  height: 100%;
  color: #d2c;
  background: linear-gradient(135deg, #d2c, hsl(336, 100%, 67%));
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}
