@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  justify-content: center;
}

.container {
  flex: 1 1 100%;
  max-width: 1100px;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
  z-index: 1;
}

header div {
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
  width: 95%;
  height: 80px;
  /* box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); */
  border-radius: 30px;
  padding: 20px 15px;
}

header span {
  color: #d2c;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #d2c, hsl(336, 100%, 67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-wrapper {
  height: 100%;
  color: #d2c;
  background: linear-gradient(135deg, #d2c, hsl(336, 100%, 67%));
  height: 410px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .content-wrapper {
    height: 360px;
  }
}
