.switch {
  width: 90px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 7px;
  cursor: pointer;
  margin-top: 100px;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 40px;
}
